extends layout

block content 
  div.genre-list-container 
    button.genre-btn #[a(href='/genre/create') +]
    for genre in genres 
      a.genre-btn-link(href=genre.url) #[button.genre-btn #{genre.name}]
    else 
      div There are no genres yet.