extends layout

block content 
  div.grid-container
    a.add-movie-link(href='/movie/create') #[button.add-movie-btn.primary-btn Add Movie +]
    div.movie-grid 
      each movie in movies 
        a.movie-item(href=movie.url)
          img.movie-img(src=movie.img)
          div.movie-item-title #{movie.title}(#{movie.year})